
<div>
    <form> 
        <div *ngIf="editNombre" class="form-group">
            <input type="input" class="form-control" name="nombre" required placeholder="nombre"
            [(ngModel)]="universidad.nombre">
        </div>
        <h3 *ngIf="!editNombre" (click)="onNombreClick()">{{universidad.nombre}}</h3>  
        <div class="form-group">
            <input type="input" class="form-control" name="pais" required placeholder="pais"
            [(ngModel)]="universidad.pais">
        </div>
        <div class="form-group">
            <input type="input" class="form-control" name="ciudad" required placeholder="ciudad"
            [(ngModel)]="universidad.ciudad">
        </div> 
        <button type="button" (click)="updateUniversidad()" class="btn btn-primary">Actualizar</button>  
        <button type="button" (click)="deleteUniversidad()" class="btn btn-danger">Eliminar</button> 
          
    </form>
</div>