<div class="col-md-6">
    <form>
        <div *ngIf="editNombre" class="form-group">
            <input type="input" class="form-control" name="nombreEscuela" required placeholder="Nombre" ngModel>
        </div>
        <h3 *ngIf="!editNombre" (click)="onNombreClick()">{{escuela.nombreEscuela}}</h3>

        <div class="form-group">
            <label>Nombre Universidad</label>
            <select class="form-control" #select [(ngModel)]="escuela.universidad" name="universidad" (change)="onDropdown(select.value)">
                <option *ngFor="let universidad of universidades" [value]="universidad._id">{{universidad.nombreUniversidad}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Nombre Carrera</label>
            <select #selectPrograma [(ngModel)]="programaSeleccionadoNombre" (change)="onChangePrograma(selectPrograma.value)" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let programa of escuela.programa " [value]="programa.nombrePrograma">{{programa.nombrePrograma}}
                </option>
            </select>
        </div>

        <form #form1="ngForm" (ngSubmit)="onAgregarNuevoPrograma(form1.value)">
                <input type="text" class="form-control" required name="nombrePrograma" placeholder="Nuevo Programa" ngModel>
                <button type="submit" class="btn btn-success">Agregar Carrera</button>
                <button type="button" (click)="deletePrograma()" class="btn btn-primary">Eliminar Carrera</button>
        </form>

        <div class="form-group">
                <label>Mallas de la Carrera Seleccionada:</label>
                <select *ngIf="programaSeleccionado" #selectPrograma [(ngModel)]="mallaSeleccionadoNombre" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let malla of programaSeleccionado.mallas" [value]="malla.nombreMalla">{{malla.nombreMalla}}
                    </option>
                </select>
        </div>

            <form #formNuevaMalla="ngForm" (ngSubmit)="onAgregarNuevaMalla(formNuevaMalla.value)">
                    <input type="text" class="form-control" required name="nombreMalla" placeholder="Nueva Malla" ngModel>
                    <button type="submit" class="btn btn-success">Agregar Malla</button>
                    <button type="button" (click)="deleteMalla(formNuevaMalla)" class="btn btn-primary">Eliminar Malla</button>
            </form>



        <button type="button" (click)="updateEscuela()" class="btn btn-primary">Actualizar</button>
        <button type="button" (click)="deleteEscuela()" class="btn btn-danger">Eliminar</button>

        
        <table>
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Materia</th>
                  </tr>
                </thead>
                <tbody>
                  <!--<tr ng-repeat="provincia in provincias | orderBy:'nombre' | limitTo:6">
                    <td>{{provincia.codProvincia}}</td>
                    <td>{{provincia.nombre}}</td>
                  </tr>-->
                    <tr>
                        <td>253</td>
                        <td>Quimica</td>
                    </tr>
                </tbody>
              </table>

    </form>
</div>