
<div>
        <form method="post"> 
            <div *ngIf="editNombre" class="form-group">
                <input type="input" class="form-control" name="userName" required placeholder="userName"
                [(ngModel)]="profesor.userName">
            </div>
            <h3 *ngIf="!editNombre" (click)="onNombreClick()">{{profesor.userName}}</h3>  
            <div class="form-group">
                    <input type="input" class="form-control" name="nombre" required placeholder="Nombre"
                    [(ngModel)]="profesor.nombre">
                </div>
            <div class="form-group">
                <input type="input" class="form-control" name="pass" required placeholder="Password"
                [(ngModel)]="profesor.pass">
            </div>
            <div class="form-group">
                        <input type="input" class="form-control" name="universidad" required placeholder="Universidad"
                        [(ngModel)]="profesor.universidad">
            </div>
            <div class="form-group">
                    <input type="email" class="form-control" name="email" required placeholder="E-mail"
                    [(ngModel)]="profesor.email">
            </div>
            
            <div class="form-group">
                    <input type="input" class="form-control" name="carne" required placeholder="Carné"
                    [(ngModel)]="profesor.carne">
            </div>
            <div class="form-group">
                    <input type="input" class="form-control" name="malla" required placeholder="Malla"
                    [(ngModel)]="profesor.malla">
            </div>
            <button type="button" (click)="updateProfesor()" class="btn btn-primary">Actualizar</button>  
            <button type="button" (click)="deleteProfesor()" class="btn btn-danger">Eliminar</button> 
              

        </form>
    </div>